body {
    background: fixed linear-gradient(0deg, gainsboro, white);
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "footer"
    ;
}
header {
    display: inline-block;
    background-color: rgba(195, 195, 195, 0.284);
    padding: 0px;
    grid-area: header;
}
header > h1 {
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
}
header > h2 {
    float: right;
    text-align: right;
    padding-right: 15px;
    font-size: 1em;
}
header > img {
    vertical-align: middle;
    display: inline;
    width: 70px;
    border-radius: 25px;
}
nav {
    background-color: rgb(115, 115, 115);
    grid-area: nav;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}
nav > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gainsboro;
    text-shadow: 0px 0px 5px rgb(115, 115, 115);
}
nav > ul > li > a:hover {
    color: white;
    text-shadow: 0px 0px 5px white;
}
.homebutton {
    color: rgb(122, 202, 255);
}
.homebutton:hover {
    color: rgb(190, 229, 255);
    text-shadow: 0px 0px 5px rgb(52, 225, 255);
}
article {
    background-image: url(../img/bg.png);
    background-size: cover;
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "image image" 
    "text1 text2"
    ;
}
.text1 {
    grid-area: text1;
    margin: 50px auto;
    background: fixed dimgray;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
    padding: 15px;
}
.text1 > h3 {
    color: whitesmoke;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
}
.text1 > p {
    color: gainsboro;
    font-size: 1.3em;
}
.text1 > img {
    display: block;
    width: 25%;
    float: left;
    margin-right: 15px;
    border: solid black;
    border-radius: 15px;
}
.text2 {
    grid-area: text2;
    margin: 50px auto;
    background: fixed dimgray;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
    padding: 15px;
}
.text2 > h3 {
    color: whitesmoke;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
}
.text2 > ul {
    list-style-type: none;
    color: white;
    padding: 0;
}
.text2 > ul > li {
    color: gainsboro;
    font-size: 1.3em;
    text-align: center;
    padding-top: 20px;
}
.text2 > p {
    color: gainsboro;
    font-size: 1.3em;
}
.text2 > img {
    display: block;
    width: 25%;
    float: left;
    margin-right: 15px;
    border: solid black;
    border-radius: 15px;
}
.text3 {
    color: gainsboro;
    font-size: 1.3em;
    padding-top: 20px;
}
.image {
    grid-area: image;
}
.intro {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 50px auto;
    background: fixed dimgray;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
}
.intro img {
    display: inline-block;
    width: 20%;
    border: solid black 5px;
    border-radius: 10px;
    margin: 10px;
}
.intro > h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    padding-top: 15px;
}
.intro > h3 {
    padding: 15px;
    text-align: center;
    color: gainsboro;
    font-size: 1.3em;
}
.intro > p {
    text-align: center;
    padding: 15px;
    color: gainsboro;
    font-size: 1em;
}
.intro > ul {
    list-style-type: none;
    color: white;
    padding: 0;
}
.intro > ul > li {
    color: gainsboro;
    font-size: 1.3em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.aboutgallery {
    grid-area: image;
    display: grid;
    grid-template-areas:
    "gallery"
    "abouttext"
    ;
}
.imggallery {
    grid-area: gallery;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly;
    width: 80%;
    margin: 25px auto;
    padding: 15px;
    gap: 10px;
    background-color: dimgray;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
    flex-direction: row;  /* uristen ez nagyon jóóóóóó */
}
.imggallery > img {
    max-width: 20%;
    border: solid black;
    border-radius: 15px;
}
.abouttext {
    width: 80%;
    margin: 25px auto;
    background-color: dimgray;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
}
.abouttext > h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
}
.abouttext > p {
    text-align: left;
    padding: 15px;
    color: gainsboro;
    font-size: 1.3em;
}
aside {
    background-image: url(../img/bg.png);
    background-size: cover;
    grid-area: aside;
}
.asideproduct {
    display: flexbox;
    width: 80%;
    margin: 25px auto;
    padding: 15px;
    gap: 10px;
    background-color: dimgray;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 35px black;
}
.asideproduct h2{
    color: gainsboro;
    font-size: 1.6em;
}
.asideproduct p{
    color: gainsboro;
    font-size: 1.2em;
}
.productgallery {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.productgallery div {
    display: flex;
    justify-content: space-evenly;
}
.productgallery img {
    margin: 10px;
    max-width: 45%;
    border: solid black;
    border-radius: 15px;
}
footer {
    grid-area: footer;
    background-color: dimgray;
}
footer > h4 {
    text-align: center;
    color: gainsboro;
    font-size: 1em;
    padding: 5px;
}